<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"
      name="viewport"
    />
    <title><%= title %></title>
    <link rel="shrotcut icon" href="/images/favicon.ico" />

    <!-- General CSS Files -->
    <link rel="stylesheet" href="/modules/bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
      integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc"
      crossorigin="anonymous"
    />

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="/modules/datatables/datatables.min.css" />
    <link
      rel="stylesheet"
      href="/modules/datatables/DataTables-1.10.16/css/dataTables.bootstrap4.min.css"
    />
    <link
      rel="stylesheet"
      href="/modules/datatables/Select-1.2.4/css/select.bootstrap4.min.css"
    />
    <link rel="stylesheet" href="/modules/select2/dist/css/select2.min.css" />

    <!-- Template CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/components.css" />

    <!-- Style Css -->
    <style>
      .text-aligins-middle td {
        vertical-align: middle;
      }

      .modal-header {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 15px;
      }

      .modal-body {
        padding: 15px 25px;
      }

      .modal-footer {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      .card .card-footer {
        border-top: 1px solid rgba(0, 0, 0, 0.125);
      }

      .select2 {
        width: 100% !important;
      }

      input[type="file"] {
        width: 100%;
      }
    </style>

    <!-- Start GA -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-94034622-3"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-94034622-3");
    </script>
    <!-- /END GA -->
  </head>
</html>
