<div class="main-sidebar sidebar-style-2">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <a href="http://localhost:5000"
        ><img src="/images/logo/logo.png" height="35"
      /></a>
    </div>
    <div class="sidebar-brand sidebar-brand-sm">
      <a href="http://localhost:5000"
        ><img src="/images/logo/logo2.png" height="35"
      /></a>
    </div>
    <ul class="sidebar-menu">
      <li id="dashboard">
        <a class="nav-link" href="/admin/dashboard"
          ><i class="fas fa-home"></i> <span>Dashboard</span></a
        >
      </li>
      <li id="user">
        <a class="nav-link" href="/admin/user"
          ><i class="far fa-user"></i> <span>Pengguna</span></a
        >
      </li>
      <li id="student">
        <a class="nav-link" href="/admin/student"
          ><i class="far fa-user"></i> <span>Siswa</span></a
        >
      </li>
      <li id="subject">
        <a class="nav-link" href="/admin/subject"
          ><i class="far fa-file"></i> <span>Mata Pelajaran</span></a
        >
      </li>
      <li id="schedule">
        <a class="nav-link" href="/admin/schedule"
          ><i class="far fa-calendar-check"></i>
          <span>Jadwal Pelajaran</span></a
        >
      </li>
      <li id="picket">
        <a class="nav-link" href="/admin/picket"
          ><i class="far fa-calendar-check"></i> <span>Jadwal Piket</span></a
        >
      </li>
      <li id="article">
        <a class="nav-link" href="/admin/article"
          ><i class="far fa-file-alt"></i> <span>Artikel</span></a
        >
      </li>
    </ul>
  </aside>
</div>
